footer{
    background-color: #6f8e52;
    height: 280px;
    width: 100vw;
}
.set{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.Sta{
    font-weight: bold;
}
